# dependencies
node_modules/
.vscode/
**/staging/

# Build files

# secrets
secrets.json
.env

# local files
Cellarium assets
npm-debug.log*
yarn-debug.log*
yarn-error.log*
sh.exe.stackdump
**/.DS_Store