$GILMER_CDN: $FONTS_CDN + "/gilmer";

@font-face {
  font-weight: bold;
  font-family: "Gilmer Bold";
  font-style: normal;
  src: url($GILMER_CDN+"/gilmer-bold.woff") format("woff"),
    url($GILMER_CDN+"/gilmer-bold.woff") format("woff2");
}

@font-face {
  font-weight: lighter;
  font-family: "Gilmer Light";
  font-style: normal;
  src: url($GILMER_CDN+"/gilmer-light.woff") format("woff"),
    url($GILMER_CDN+"/gilmer-light.woff") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: "Gilmer Medium";
  font-style: normal;
  src: url($GILMER_CDN+"/gilmer-medium.woff") format("woff"),
    url($GILMER_CDN+"/gilmer-medium.woff") format("woff2");
}

@font-face {
  font-weight: normal;
  font-family: "Gilmer Regular";
  font-style: normal;
  src: url($GILMER_CDN+"/gilmer-regular.woff") format("woff"),
    url($GILMER_CDN+"/gilmer-regular.woff") format("woff2");
}
